@font-face {
  font-display: swap;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/orbitron-v35-latin-regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  gap: 2rem;
  background-color: rgb(23, 30, 49);
}

h1 {
  font-family: 'Orbitron';
  font-size: 3rem;
}
h1,
.status {
  color: white;
  font-family: 'Orbitron';
}

main {
  display: flex;
  gap: 9rem;
  margin: 2rem;
}

.board {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding: 0.6rem;
  background-color: rgb(2 6 24);
  border: 2px solid rgb(52, 60, 79);
  border-radius: 5px;
  user-select: none;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.8px solid rgb(92, 104, 135);
  color: rgb(92, 104, 135);
}

.virgin {
  background-color: rgb(29 41 61);
}

.miss {
  background-color: rgb(15 23 43);
}

.hit {
  background-color: rgb(138, 0, 0);
  color: rgb(209, 47, 47);
}

.sunk {
  background-color: rgb(138, 0, 0);
  color: rgb(209, 47, 47);
  border: 1px solid rgb(255, 0, 0);
}

#player2-board .cell.virgin {
  cursor: crosshair;
}

#player2-board .cell.virgin:hover {
  background-color: rgb(52 60 79);
}
