* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  gap: 2rem;
  background-color: rgb(23, 30, 49);
}

h1,
.status {
  color: white;
}

main {
  display: flex;
  gap: 9rem;
  margin: 2rem;
}

.board {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: rgb(39, 50, 82);
  outline: 4px solid rgb(92, 104, 135);
  border-radius: 3px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgb(92, 104, 135);
  color: white;
}

#player2-board .cell {
  cursor: crosshair;
}
