* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 4rem;
}

h1 {
  color: blue;
}

main {
  display: flex;
  gap: 9rem;
  margin: 2rem;
}

.board {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid #a0a0a0;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a0a0a0;
}
